@import "tailwindcss";

@layer components {
  .menu-button {
    position: relative;
    right: 1rem; /* = 1rem */
    bottom: 1.75rem; /* = 1.75rem */
    height: 100px;
    width: 128px;
    font-size: var(--text-4xl); /* = 2.25rem */
    border-bottom: 1;
    border-right: 1;
    border: var(--color-gray-700);
    transition-property: transform;
    transition-timing-function: ease-in-out;
  }

  .menu-button:hover {
    color: var(
      --color-orange-500
    ); /* Tailwind v4.1 exposes all theme values as CSS variables */
  }

  .main-div {
    position: fixed;
    top: calc(var(--spacing) * 0);
    left: calc(var(--spacing) * 0);
    z-index: 50;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    background-color: var(--color-white) /* #fff = #ffffff */;
  }

  .left-main {
    position: relative;
    grid-column: span 3 / span 3;
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
    border-color: var(--color-gray-300)
      /* oklch(87.2% 0.01 258.338) = #d1d5dc */;
    background-color: var(--color-blue-700)
      /* oklch(48.8% 0.243 264.376) = #1447e6 */;
  }
  .footer {
    height: 25rem;
    border-color: var(--color-gray-300)
      /* oklch(87.2% 0.01 258.338) = #d1d5dc */;
    border-top-style: var(--tw-border-style);
    border-top-width: 1px;
  }

  @property --tw-border-style {
    syntax: "*";
    inherits: false;
    initial-value: solid;
  }
}
