@import "tailwindcss";

.popup-absolute-full {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  z-index: 50;
}

@keyframes marquee {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}

@layer components {
  .Accordian-card {
    padding: 3rem;
    width: 20rem;
    height: 10rem;
    border: 1px;
    border-color: var(--color-gray-300);
    border-radius: var(--radius-md);
  }
  .turner-logo {
    height: calc(var(--spacing) * 25) /* 6.25rem = 100px */;
    border-color: var(--color-gray-300)
      /* oklch(87.2% 0.01 258.338) = #d1d5dc */;
    padding-inline: calc(var(--spacing) * 10) /* 2.5rem = 40px */;
  }
}

/* Fade-In on Scroll
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
  .animate-fadeInUp {
    animation: fadeInUp 0.8s ease-out forwards;
  } */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.orange-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.orange-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.orange-scroll::-webkit-scrollbar-thumb {
  background-color: #f9700e;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}
